<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="content-language" content="en-us" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.title == " Home
    " %}{% for tag in site.keywords %}{{ tag }}, {% endfor %}{% else %}{% for tag in page.tags %}{{ tag }}, {% endfor %}{% endif %}">
  <meta name="author" content="{{site.author.name}}"> {% seo %} {% if page.date %}
  <meta property="article:modified_time" content="{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="https://www.facebook.com/{{ site.author.facebook }}"> {% for post in site.related_posts limit:3 %}
  <meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> {% endfor %} {% endif %} {% if page.categories %} {% for category in page.categories limit:1 %}
  <meta property="article:section" content="{{ category }}"> {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}"> {% endfor %} {% endif %}
  <!-- 
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.author.twitter }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{% if page.featured_image %}{{ page.featured_image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->

  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}"> {% endif %}

  <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->

  {% if page.next.url %}
  <link rel="next" href="{{ page.next.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" title="{{ page.next.title }}"> {% endif %} {% if page.previous.url %}
  <link rel="prev" href="{{ page.previous.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" title="{{ page.previous.title }}"> {% endif %}

  <!-- CSS -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/public/css/forms-min.css"> -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/public/css/styles.css"> -->

  {% if jekyll.environment == "production" %}
  <style>
    {% include css/preload_styles.css %}
  </style>
  {% else %}
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/preload_styles.css ">
  {% endif %}


  <!-- <link rel="preload" href="{{ site.baseurl }}/public/css/styles.css" as="style"> -->
  <link rel="preload" href="{{ site.baseurl }}/public/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/styles.css">
  </noscript>
  <script type="text/javascript">
    {% include js/loadCSS.min.js %}
  </script> 
  <script>
    (function () {
        loadCSS("{{ site.baseurl }}/public/css/styles.css");
        loadCSS("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
    })();
  </script>
  

  <!-- Icons -->
  <!-- <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico"> -->
  <link rel="icon" href="{{ site.baseurl }}/public/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

  
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/public/css/pace-theme-flash.css">
  <script type="text/javascript" src="{{ site.baseurl }}/public/js/pace.min.js"></script> -->

  <!--  Google Analytics Script-->
  {% if jekyll.environment == "production" %}
    {% include google_analytics.html %}
  {% endif %}

</head>
