<div class="sidebar {% if page.toc == true %}is-active{% endif %}">
  <div class="sidebar-menu is-hidden-desktop">
      <a href="/" >
        home
      </a>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.add_menu != null %}

    <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title | downcase  }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  {% if page.toc == true %}
  <div class="sidebar-toc">
    <h4 class="sidebar-title"><a href="#{{ page.title }}">{{ page.title }}</a></h4>
    {% include toc.html html=content %}
  </div>
  {% endif %}
</div>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  // <pre>
  $(document).ready(function () {

    // Check for click events on the navbar burger icon

    $(".navbar-burger").click(function () {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".sidebar").toggleClass("is-active");
      $(".navbar-burger").toggleClass("is-active");

    });

    $(".sidebar-toc ul li a").click(function () {
      if ($(window).width() < 970) {
        $(".sidebar").toggleClass("is-active");
        $(".navbar-burger").removeClass("is-active");
      }
    });

    console.log("wef");
    if ($(window).width() < 970) {
      console.log("wefwef");
        $(".sidebar").removeClass("is-active");
        $(".navbar-burger").removeClass("is-active");
      }

  });

// </pre>
</script>