
  <div class="sidebar {% if page.toc == true %}enable-toc{% endif %}">
      
    <div class="sidebar-menu is-hidden-desktop">
      {% include menu.html %}
    </div>
    {% if page.toc == true %}
    <div class="sidebar-toc">
      <h4 class="sidebar-title"><a href="#{{ page.title }}">{{ page.title }}</a></h4>
      {% include toc.html html=content %}
    </div>
    {% endif %}
    <div class="sidebar-author">
        <h4 class="sidebar-title">Author</h4>
         Thada Wangthammang
          
        </div>
  </div>
</div>

<div class="sidebar-bg  {% if page.toc == true %}enable-toc{% endif %}"></div>


<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  // <pre>
  $(document).ready(function () {

    $( window ).resize(function() {
      if ($(window).width() >= 970) {
        if(!$(".sidebar").hasClass("enable-toc")){
          $(".sidebar").removeClass("is-active");
          $(".navbar-burger").removeClass("is-active");
          $(".sidebar-bg").removeClass("is-active");
        }else {
          $(".sidebar-bg").removeClass("is-active");
        }
      }else if($(".sidebar").hasClass("enable-toc") && $(".sidebar").hasClass("is-active")){
        $(".sidebar-bg").addClass("is-active");
      }
    });

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function () {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".sidebar").toggleClass("is-active");

      if ($(".sidebar").hasClass("is-active")){
        $("html").css("overflow-y", "hidden");
      }else{
        $("html").css("overflow-y", "scroll");
      }
      $(".navbar-burger").toggleClass("is-active");
      $(".sidebar-bg").toggleClass("is-active");
      if ($(".search-overlay").hasClass("is-active")){
        $(".search-overlay").removeClass("is-active");
      }
    });
    // $("body").addClass("disable-scroll");
    $(".sidebar-toc ul li a").click(function () {
      if ($(window).width() < 970) {
        $(".sidebar").toggleClass("is-active");
        $(".navbar-burger").removeClass("is-active");
      }
      $(".sidebar-bg").removeClass("is-active");
    });

    if ($(window).width() < 970) {
      $(".sidebar").removeClass("is-active");
      $(".navbar-burger").removeClass("is-active");
      $(".sidebar-bg").removeClass("is-active");
    }else if($(".sidebar").hasClass("enable-toc")){
      $(".sidebar").addClass("is-active");
      $(".navbar-burger").addClass("is-active");
    }

    $(".sidebar-bg").click(function () {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".sidebar").toggleClass("is-active");
      $(".navbar-burger").toggleClass("is-active");
      $(".sidebar-bg").toggleClass("is-active");
    });

    $(".search-button").click(function () {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".search-overlay").toggleClass("is-active");
      $("#search-box").focus();
    });
    
  });

// </pre>
</script>