---
layout: null
title: Search
permalink: search/
---
<!-- Written by Thada Wangthammang -->
<html ng-app="app">
<head>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>
    {% include head.html %}
	<title>Tags</title>
</head>
<body ng-controller="ListController">
{% include sidebar.html %}
<div class="content container">
    <form class="pure-form">
      <input ng-value="search_string" ng-model="query" type="text" class="pure-input-rounded pure-input-1" style="font-size: 1.10em;"
        placeholder="Search keywords" autofocus>
    </form>

    <span>
    	<ul ng-repeat="post in posts | filter:searchMultiTags | orderBy: 'name'">
            <li>//post.date_view// &raquo; <a href="//post.link//">//post.name//</a>
                <!-- <span ng-repeat="tag in post.tags" class="label space" ng-show="mouseover"><a href="#" title="Pages tagged {{ tag }}" rel="tag">#//tag//</a></span></p> -->
            </li>
    	</ul>

<!--      <div class="message" ng-hide="" align="center">Can't found the keywords. Please try other.</div>-->
    </span>
    <script type="text/javascript">
        var app = angular.module('app', ['ngRoute'], function($interpolateProvider) {
            $interpolateProvider.startSymbol('//');
            $interpolateProvider.endSymbol('//');
        });
        app.controller('ListController', function($scope, $location) {

            var value = $location.$$url;
            console.log(value);
            var str = value.substring(1,value.length);
            console.log(str);
            $scope.search_string = decodeURI(str);
//            $scope.search_string = unescape(value.substring(1,value.length));

            $scope.posts = [
                 {% for post in site.posts %}

                 {name: "{{ post.title }}",description: "{{ post.description }}",link: "{{ site.baseurl }}{{ post.url }}", category: "{{ post.category }}", date_view: "{{post.date | date_to_string}}", tags: [
                     {% for tag in post.tags %}
                     "{{tag}}",
                     {% endfor %}
                 ]},
                 {% endfor %}
     		];

            $scope.$watch('query', function(newValue, oldValue) {
                $location.path(newValue);
            });
             $scope.searchMultiTags = function(element) {
                 if (typeof $scope.query === 'undefined'){
                     $scope.query = $scope.search_string;

                     return true;
                 }
                 console.log($scope.query);
                 processed_query = $scope.query.toLowerCase().trim();
                 tags_array = processed_query.split(' ');
                 processing_tags = element.tags.join(' ');

                 if(element.name.toLowerCase().search(processed_query.toLowerCase()) >= 0){
                     return true;
                 }
                 if(element.category.toLowerCase().search(processed_query.toLowerCase()) >= 0){
                     return true;
                 }
                 if(element.description.toLowerCase().search(processed_query.toLowerCase()) >= 0){
                     return true;
                 }
                console.log(processed_query.toLowerCase());
                 for (var i = 0; i < tags_array.length;i++){
                     if( processing_tags.search(tags_array[i]) < 0 ) {
                         return false;
                     }
                 }

                 return true;
             };
         })


    </script>

</div>
</body>
</html>
