---
layout: null
title: Search
---
<!-- Written by Thada Wangthammang -->
<html ng-app="app">
<head>
    <script type="text/javascript" src="{{ site.baseurl }}public/js/angular.min.js"></script>
    {% include head.html %}
	<title>Tags</title>
</head>
<body>
{% include sidebar.html %}
<div class="content container">
    <form class="pure-form">
      <input ng-model="query" type="text" class="pure-input-rounded pure-input-1" style="font-size: 1.10em;"
        placeholder="Search keywords" autofocus>
    </form>

    <span ng-controller="ListController">
    	<ul ng-repeat="post in posts | filter:searchMultiTags | orderBy: 'name'">
            <li>//post.date_view// &raquo; <a href="//post.link//">//post.name//</a>
                <!-- <span ng-repeat="tag in post.tags" class="label space" ng-show="mouseover"><a href="#" title="Pages tagged {{ tag }}" rel="tag">#//tag//</a></span></p> -->
            </li>
    	</ul>


    </span>
    <script type="text/javascript">
        var app = angular.module('app', [], function($interpolateProvider) {
            $interpolateProvider.startSymbol('//');
            $interpolateProvider.endSymbol('//');
        });
    	function ListController($scope){
            console.log($scope.query);
            $scope.posts = [
                {% for post in site.posts %}
                {name: '{{ post.title }}',link: '{{ post.url }}', category: '{{ post.category }}', date_view: '{{post.date | date_to_string}}', tags: [
                    {% for tag in post.tags %}
                    '{{tag}}',
                    {% endfor %}
                ]},
                {% endfor %}
    			// {name: 'mango', tags: ['green', 'oval']},
    		];

            $scope.searchMultiTags = function(element) {
                if (typeof $scope.query === 'undefined')return true;
                processed_query = $scope.query.toLowerCase().trim();
                tags_array = processed_query.split(' ');
                processing_tags = element.tags.join(' ');

                if(element.name.toLowerCase().search(processed_query.toLowerCase()) >= 0){
                    return true;
                }
                if(element.category.toLowerCase().search(processed_query.toLowerCase()) >= 0){
                    return true;
                }
                for (var i = 0; i < tags_array.length;i++){
                    if( processing_tags.search(tags_array[i]) < 0 ) {
                        return false;
                    }
                }

                return true;
            };
    	}
    </script>

</div>
</body>
</html>
