/* This theme is modified by Mildronize.
 * This theme is base on https://github.com/poole/hyde.
 * Modified by Mildronize
 */

/*
 * Contents
 *
 * Global resets
 * Button
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "PT Sans", Boon, Arial, sans-serif;
}
@media (min-width: 64em) {
    .search-bar{
        width:22em;
    }
}

@media (max-width: 58em) {
  html {
    font-size: 18px;
  }
  .search-bar{
      width:50%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 16px;
  }
  .search-bar{
      width:95%;
  }
}
/* mobile screen */
/*.search-bar{
    width:95%;
}*/

.social-icons a i{
  margin: 0px 2px;
}
.profile {
  display: inline-block;
  margin: 0px;
}
.label {
  background-color: #999;
  padding: 2px 4px;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  margin: 2px 0px;
}

.label a{
  color:white;
}
.space{
  margin: 2px 2px;
}

.description {
  font-size: 1.0rem;
  font-weight: 200;
}

.text-small{
  font-size: 14px;
}

.my-favorite-templates li{
    margin: 5px 0 25px 0;
}

.search-container{
    margin: 0px 10px 10px 0;
}
/*
Button
Original by: http://purecss.io/buttons/
*/
.pure-button i{
    margin: 0 5px 0 0;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}


/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* gray-orange */
.theme-gray-orange .sidebar {
  background-color: #202020;
}
.theme-gray-orange .content a,
.theme-gray-orange .related-posts li a:hover {
  color: #72240f;
}
