---
---

// Import Sass Bulma.io CSS Framework
@import 'bulma_preload';
{% include css/pace-theme-minimal.css %}



.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin: 1.2rem;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.placeholder img.loaded {
  opacity: 1;
}

.placeholder-img-small {
  filter: blur(20px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}


// header
.hr-header{
  margin-top: 0rem;
}

// first page

.image-cover{
  padding:0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-load-placeholder{
  // https://ce8be7dec.cloudimg.io/width/80/fgaussian2/https://www.dropbox.com/s/3qn79g1jnrhat0h/2018-08-13-%E0%B8%A3%E0%B8%B9%E0%B9%89%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%81%E0%B8%B1%E0%B8%9A%E0%B8%90%E0%B8%B2%E0%B8%99%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B8%B9%E0%B8%A5%E0%B8%AD%E0%B8%99%E0%B8%B8%E0%B8%81%E0%B8%A3%E0%B8%A1%E0%B9%80%E0%B8%A7%E0%B8%A5%E0%B8%B2%20OpenTSDB%20%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%80%E0%B8%96%E0%B8%AD%E0%B8%B0-cover2.jpeg?raw=1
  padding:0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recent-posts{
  background-color: #333; 
  padding:0rem;
}

.recent-posts-overlay{
  position: relative;
  height: 100%; 
  padding:1.3rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.recent-post a, .recent-post{ 
  color: $white;
  margin-bottom: 0.3rem;
}

// end first page

.user-link{
  color: #4a4a4a;
  margin: 8px;
}

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.word-wrap {
    @include word-wrap();
}

* {
    box-sizing: border-box;
}

.pagination-item{
  margin-right:1rem;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 15px;
}

.highlighted {
  background-color: yellow; 
  }


.subtitle{
  color: $grey-light;
}

.subtitle .description{
  font-size: 2pt;
}

.post-list a, .title a {
  color: $grey-dark;
}

.post-list a:hover, .title a:hover {
  color: $blue;
}

.tag a{
  color: $grey-dark;
}

// header
.menu-link a{
  color: $grey-dark;  
  margin-right:1rem;
  line-height: 2.3;
  text-transform: lowercase;
}
.active {
  font-weight: bold;
}
.menu-link a:hover{
  color: $blue;
}


img[class=post-cover]{
  max-height: 300px; 
  width: 100%;
  object-fit: cover ;
}

img[class=post-list]{
  max-height: 200px; 
  max-width: 100%;

}

