---
---

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.word-wrap {
  @include word-wrap();
}

// Import Sass Bulma.io CSS Framework
$content-heading-line-height: 1.3; 

$is-size-4: 1.4rem;

@import 'bulma_preload';

h1,h2,h3, .title, .logo,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6
{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    // font-family: 'supermarket', Helvetica, Arial, sans-serif;
}

.title{
  line-height: 1.5rem; 
}

.content {
  h1{ font-size: 1.65em; }
  h2{ font-size: 1.55em; }
  h3{ font-size: 1.35em; }
  h4{ font-size: 1.20em; }
  a, code{ @include word-wrap(); }
  p{
    line-height: 1.75rem;
    @media (min-width: $fullhd) {  
      line-height: 2rem;
    }
  }
  .post-date, .tags{ margin: 0 1rem; }
}

.post-list a, .title a {
  color: #111;
}

.post-list a:hover, .title a:hover {
  color: $blue;
}


.logo{
  color:  #0D47A1;
}

.recent-post a:hover{
  color: #ddd;
}

.space{
  margin: 0.5rem 0;
  padding: 0;
}

#search-box {
  font-size: 1.05em;
}

.search-close a{
  color: #111;
  visibility: hidden;
  display: none;
  @media (min-width: 0) and (max-width: $tablet) { 
    visibility: visible;
    display: block;
  }
}



@media (min-width: 0) and (max-width: $tablet) { 
.modal {
  // display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  // open  
  display: flex;
  flex-direction: column;

  &__header, &__content, &__footer{
    background-color: #fff;
    padding: 0 1rem;
  }

  &__header{
    padding-top: 0.5rem;
  }

  &__content{
    height: 100%;
    overflow-y: auto;
  }
}

}

// .search-overlay-parent
// {
// @media (min-width: 0) and (max-width: $tablet) {  
//     position: fixed;
//     height : 100vh;
//     width : 95vw;
//     top: 0;
//     left:0;
//     z-index: 40;
//     background-color: #fff;
//     display: flex;       
//     overflow-y: auto;
//   }
// }


// .search-overlay{
//   @media (min-width: 0) and (max-width: $tablet) {  
//     flex-grow : 1;
//     width: 90%;
//     position: relative;
//     top: 15px;
//     left:15px;
//   }

// }



// description

.wrapper{
  display: flex;
  width: 100%;
}

.description{
  margin: 0.25rem 0 0 0; 
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $tablet) {  
    width: 500px;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {  
    width: 500px;
  }

  @media (min-width: $desktop) and (max-width: $fullhd) {  
    width: 500px;
   }

   @media (min-width: $fullhd)  {  
    width: 700px;
   }

}

// .description{
//   color: #999;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }


// Tag
.tag a{
  color: #999;
}

.tags{
 margin: 0; 
 padding: 0;
}

.tag {
  margin: 0 0.4rem 0 0;
}

// placeholder image

.image{
  margin: 2rem 0;
}

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.placeholder img.loaded {
  opacity: 1;
}

.placeholder-img-small {
  filter: blur(20px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}


// header
.hr-header{
  margin-top: 0rem;
}

// first page

.image-cover{
  padding:0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-load-placeholder{
  // https://ce8be7dec.cloudimg.io/width/80/fgaussian2/https://www.dropbox.com/s/3qn79g1jnrhat0h/2018-08-13-%E0%B8%A3%E0%B8%B9%E0%B9%89%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%81%E0%B8%B1%E0%B8%9A%E0%B8%90%E0%B8%B2%E0%B8%99%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B8%B9%E0%B8%A5%E0%B8%AD%E0%B8%99%E0%B8%B8%E0%B8%81%E0%B8%A3%E0%B8%A1%E0%B9%80%E0%B8%A7%E0%B8%A5%E0%B8%B2%20OpenTSDB%20%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B9%80%E0%B8%96%E0%B8%AD%E0%B8%B0-cover2.jpeg?raw=1
  padding:0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// recents posts
.recent-posts-2{
  padding:0rem;
  min-width: 250px;
}

.recent-posts-size-2{
  height: 150px;
  border-radius: 7.5px;
 
//   @media (min-width: $tablet) and (max-width: $desktop)  {  
//     height: 150px;
//    }

//  @media (min-width: $desktop) {  
//   height: 150px;
//  }
}

.recent-posts{
  background-color: #333; 
  padding:0rem;
  min-width: 250px;
}

.recent-post a, .recent-post{ 
  color: $white;
  margin-bottom: 0.3rem;
}

.recent-posts-overlay{
  position: relative;
  height: 100%; 
  padding:1.3rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.recent-posts-size{
  height: 200px;
 
  // @media (min-width: $tablet) {  
  //   min-height: px;
  //  }

 @media (min-width: $desktop) {  
  height: 280px;
 }
}


// end first page

.user-link{
  color: #4a4a4a;
  margin: 8px;
}



* {
    box-sizing: border-box;
}

.pagination-item{
  margin-right:1rem;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 15px;
}

.highlighted {
  background-color: yellow; 
  }



// header
.button .is-white{
  color: $grey-dark;
}

.menu-link a{
  // color: $grey-dark;  
  margin-right: 0.3rem;
  margin-top: 0.45rem;
  // line-height: 3.3;  
  text-transform: lowercase;
}
.active {
  font-weight: bold;
}

.menu-link a:hover{
  color: $blue;
}


img[class=post-cover]{
  max-height: 300px; 
  width: 100%;
  object-fit: cover ;
}

img[class=post-list]{
  max-height: 200px; 
  max-width: 100%;

}

// postload

.content li {
  margin: 0.7rem;
}



.card{
  margin:1rem;
  padding: 0.3rem;
  border-radius: 5px;
}

.card-content{
  padding: 0.7rem;
}

.box{
  box-shadow: none;
  padding: .9rem;
}

.content blockquote{
  background-color: $white;
  font-style: italic;
  color: $grey;
}

.footer{
  background-color: transparent;
}


/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}



