---
---

// Import Sass Bulma.io CSS Framework
@import 'bulma_postload';

{% include css/Trirong.css %}
{% include css/font-awesome-all-5.2.0.css %}
{% include css/forms-min.css %}



.card{
  margin:1rem;
  padding: 0.3rem;
  border-radius: 5px;
}

.card-content{
  padding: 0.7rem;
}

h1,h2,h3, .title, .logo{
    font-family: 'Trirong', sans-serif;
    font-weight: 600;
    // font-family: 'supermarket', Helvetica, Arial, sans-serif;
}

.logo a{
  color:  #0D47A1;
}

.box{
  box-shadow: none;
  padding: .9rem;
}

.content blockquote{
  background-color: $white;
  font-style: italic;
  color: $grey;
}

.footer{
  background-color: transparent;
}


/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

