---
layout: default
---

<!--
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
-->

<article itemscope itemtype="http://schema.org/Article">
  <div class="post">
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    <p class="post-date" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</p>
    <p class="entry-tags">{% for tag in page.tags %}<div class="label"><a href="{{ site.url }}/tags/#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a></div>{% unless forloop.last %} {% endunless %}{% endfor %}</p>
<!--    {% if page.comments %}<p><a href="{{ site.url }}{{ page.url }}#disqus_thread">Comments</a></p>{% endif %}-->
    <!-- <p>{{ page.description }}</p> -->
    {% if page.image != null %}<img src="{{ page.image }}">{% endif %}
    <p>
        {% if page.home != null %}<a class="pure-button button-small" href="{{ page.home }}"><i class="fa fa-home"></i>Home</a>{% endif %}
        {% if page.demo != null %}<a class="pure-button button-small" href="{{ page.demo }}"><i class="fa fa-play"></i>Demo</a>{% endif %}
        {% if page.source != null %}<a class="pure-button button-small" href="{{ page.source }}"><i class="fa fa-code"></i>Source code</a>{% endif %}
    </p>
    {{ content }}
<!--    {% if page.comments %}<div id="disqus_thread"></div>{% endif %}-->
  </div>
</article>

{% if site.comment and page.comment == null %}
    {% include disqus.html %}
    <!-- {% include disqus_comment_count.html %} -->
{% endif %}
